html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0; }

.room-status {
  padding: 15px;
  background: #4caf50;
  color: #fff; }

a {
  text-decoration: none; }
  a .card {
    font-size: 25px;
    background: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center; }

a.disabled {
  text-decoration: none; }
  a.disabled .card {
    background: #555;
    color: #333; }

a.active {
  text-decoration: none; }
  a.active .card {
    background: #ccc;
    color: #333; }

a:focus {
  outline: none; }

.message-centered {
  position: absolute;
  top: 250px;
  width: 100%;
  text-align: center;
  font-size: 42px; }
  .message-centered h1 {
    font-weight: lighter; }
  .message-centered h2 {
    padding: 30px;
    background: #ff4081;
    color: #fff;
    width: auto; }
  .message-centered.end h1 {
    color: #4dd0e1; }
  .message-centered.end .card {
    background: #4dd0e1;
    border: #80deea 4px solid;
    margin: 4px; }

.cards {
  bottom: 0;
  position: relative;
  margin-top: 200px;
  width: 100%; }

.pull-right {
  float: right; }

.flex {
  display: flex;
  flex-flow: row wrap; }
  .flex .col {
    width: auto;
    flex-grow: 1; }

@media screen and (max-width: 1200px) {
  .message-centered {
    top: 100px; } }
@media screen and (max-width: 991px) {
  .message-centered {
    top: 0;
    position: relative;
    font-size: 22px; }

  .cards div[layout="column"] {
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around; } }
